<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>
<form method="post" style="max-width:600px;">
<div class="main">
  <h1>Create Your Concert!</h1>


    <div class="form-group">
      <label th:for="artists">Artists</label>
      <input list="artists" name="artists">
        <datalist id="artists">
          <option th:field="${concert.artists}"  th:each="artist : ${artists}" th:value="${artist.id}" th:text="${artist.name}"></option>
        </datalist>
      <a th:href="@{'/artists/add'}">Add Artist</a>
    </div>


    <div class="form-group">
      <label th:for="date">Date</label>
      <input type="date"  class="form-control" th:field="${concert.date}" />
      <span th:errors="${concert.date}" class="error"></span>
    </div>

    <div class="form-group">
      <label th:for="city">City</label>
      <input class="form-control" th:field="${concert.city}" />
      <span th:errors="${concert.city}" class="error"></span>
    </div>

    <div class="form-group">
      <label th:for="venue">Venue</label>
      <input class="form-control" th:field="${concert.venue}" />
      <span th:errors="${concert.venue}" class="error"></span>
    </div>

    <div class="form-group">
      <label th:for="time">Time</label>
      <input type="time" class="form-control" th:field="${concert.time}" />
      <span th:errors="${concert.time}" class="error"></span>
    </div>

    <div class="form-group">
      <label th:for="price">Price</label>
      <input type="number" step="0.01" min = "0" class="form-control" th:field="${concert.price}" />
      <span th:errors="${concert.price}" class="error"></span>
    </div>

    <input type="submit" value="Add Concert" />

  </form>

</div>

</body>
</html>