<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

  <!-- Bootstrap stylesheets and script -->
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
  <link th:href="@{/css/concert.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

  <title th:text="'Concert Tours' + ${title == null ? '' : ' :: ' + title}">Flyer</title>
</head>

<body>

  <div th:fragment="page-header" class="sidenav">

      <a href="/"><b>Flyer</b></a>
      <a href="/list">Tours List</a>
      <a href="/add">Add Concert</a>
      <a href="/artists">Artists</a>

  </div>


</body>
</html>