<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

  <!-- Bootstrap stylesheets and script -->
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
  <link th:href="@{/css/concert.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

  <title th:text="'Concert Tours' + ${title == null ? '' : ' :: ' + title}">Concert Tours</title>
</head>

<body>

  <div th:fragment="page-header" class="sidenav">
      <a href="home">Flyer</a>
      <a href="list">Tours List</a>
      <a href="add">Add Tour</a>
      <a href="artist">Artist</a>

  </div>


</body>
</html>