<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div id="homepage" class="centered">
    <h2>It's Showtime!</h2>
    <img class="centered" src="/images/concert-crowd.jpg" alt ="concert image" >

</div>
<div class="main">
    <p class="centered">
        Flyer is a way to connect fans to music.
        You can create an event, schedule a tour, and share the experience.
    </p>
</div>
</body>

<footer>
    <p class="centered">Created by Team Alphabet</p>
</footer>

</html>

