<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div id="homepage" class="centered">
    <h2>Its ShowTime!</h2>

    <img src="/images/concert-crowd.jpg" alt ="concert image" >
</div>
<div class="main">
    <p class="centeredTable">
        Flyer is a way to connect fans to music.
        You can create an event, schedule a tour, and share the experience.
    </p>
</div>
</body>

</html>