<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

  <div th:replace="fragments :: page-header"></div>
  <div class="container body-content">
<!--    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>-->
    <h1 class = "centered">All Concerts</h1>
  </div>

</head>

<body>

<!--<h1 th:text="${#strings.capitalizeWords(title)}"></h1>-->
<form th:action="@{/search/results}" method="post">
  <h2 class="centered">Search by:</h2>

<!--  <p>-->
<!--    <span th:each="column :: ${columns}">-->
<!--      <input-->
<!--        type="radio"-->
<!--        name="searchType"-->
<!--        th:id="${column.key}"-->
<!--        th:value="{column.key}"-->
<!--        th:checked="${column.key == 'all'}"/>-->
<!--    </span>-->
<!--  </p>-->

  <p class="centered">
    <label for="searchTerm">Keyword:</label>
    <input type="text" th:value="${searchTerm}" name="searchTerm" id="searchTerm"/>
  </p>

  <input type="submit" value="Search" />
</form>

<table class="centered">
  <thead>
  <tr>
    <th>Band</th>
    <th>Date</th>
    <th>City</th>
    <th>Venue</th>
    <th>Time</th>
    <th>Price</th>
  </tr>
  </thead>
  <tr th:each="concert : ${concerts}">
    <td th:text="${concert.bandName}"></td>
    <td th:text="${concert.date}"></td>
    <td th:text="${concert.city}"></td>
    <td th:text="${concert.venue}"></td>
    <td th:text="${concert.time}"></td>
    <td th:text="'$' + ${concert.price}"></td>
  </tr>
</table>



</body>

</html>