<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

  <div th:replace="fragments :: page-header"></div>
  <div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">View Concerts By Category</h2>
  </div>

</head>

<body>

<h1 th:text="${#strings.capitalizeWords(title)}"></h1>
<form th:action="@{/search/results}" method="post">
  <h2 class="centered">Search by:</h2>

<!--  <p>-->
<!--    <span th:each="column :: ${columns}">-->
<!--      <input-->
<!--        type="radio"-->
<!--        name="searchType"-->
<!--        th:id="${column.key}"-->
<!--        th:value="{column.key}"-->
<!--        th:checked="${column.key == 'all'}"/>-->
<!--    </span>-->
<!--  </p>-->

  <p class="centered">
    <label for="searchTerm">Keyword:</label>
    <input type="text" th:value="${searchTerm}" name="searchTerm" id="searchTerm"/>
  </p>

  <input type="submit" value="Search" />
</form>



</body>

</html>